  /* POSTING Button and Prompt*/

  .overlay-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    font-family: "Poppins-Regular", Helvetica;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .popup-close {
    cursor: pointer;
  }
  
  .popup-input {
    width: 95%;  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .popup-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .popup-button {
    width: 25%;
    padding: 10px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  textarea {
    font-family: "Poppins-Regular", Helvetica;
    resize: none;
  }
  